<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <span>GitHub Client</span>

  <div fxFlex="12" fxLayout="row" fxLayoutAlign="space-between center">
    <button
      mat-raised-button
      #topRepo="routerLinkActive"
      routerLinkActive="active"
      routerLink="/top"
      [color]="topRepo?.isActive ? 'accent' : null"
    >
      Top repo
    </button>

    <button
      mat-raised-button
      #favoriteRepo="routerLinkActive"
      routerLinkActive="active"
      routerLink="/favorites"
      [color]="favoriteRepo?.isActive ? 'accent' : null"
    >
      Favorite repo
    </button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
